Preparo los datos de 2017. Lo separo en otro Notebook por simplificar. Cuando esté limpio los uno.
Para que sea un año entero. Cojo los datos de agosto 2017

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
pd.set_option('display.max_column',None)

In [3]:
import os
os.getcwd()

'/home/dsc/Repos/TFM-Test-your-business-viability/TBV_v1'

In [4]:
folder2 = '~/Repos/TFM-Test-your-business-viability/Data/censolocales/'

!ls -al {folder2}

total 1878956
drwxrwxr-x 2 dsc dsc     4096 oct 15 23:11  .
drwxrwxr-x 4 dsc dsc     4096 oct 14 07:19  ..
-rw-rw-r-- 1 dsc dsc 44416536 oct 13 08:38  2014_10_cla_actividades.csv
-rw-rw-r-- 1 dsc dsc 27343285 oct 13 07:45  2014_10_cla_locales.csv
-rw-rw-r-- 1 dsc dsc      987 oct 13 07:45  campos_fichero_epigrafes
-rw-rw-r-- 1 dsc dsc      881 oct 13 07:45  campos_fichero_locales
-rw-rw-r-- 1 dsc dsc 44849866 oct 13 07:45  cla_actividades201409.csv
-rw-rw-r-- 1 dsc dsc 27459122 oct 13 07:45  cla_locales201409.csv
-rw-rw-r-- 1 dsc dsc  1245108 oct 13 07:45  EpigrafesActividadEconomica.pdf
-rw-rw-r-- 1 dsc dsc   140800 oct 13 07:45  EpigrafesActividadEconomica.xls
-rw-rw-r-- 1 dsc dsc    85504 oct 14 08:03  Epigrafes_id.xls
-rw-rw-r-- 1 dsc dsc    34507 oct 13 07:45 'Estructura_DS_ FicheroCLA_LICENCIAS.pdf'
-rw-rw-r-- 1 dsc dsc    36129 oct 13 07:45  Estructura_DS_FicheroCLA.pdf
-rw-rw-r-- 1 dsc dsc       64 oct 14 08:00  .~lock.EpigrafesActividadEconomica.xls#
-rw-rw-r-- 1 dsc dsc  5345755 oct 14 20:58  OD_epig1908.csv
-rw-rw-r-- 1 dsc dsc  4282879 oct 14 20:58  OD_locales1908.csv
-rw-rw-r-- 1 dsc dsc 61010410 oct 13 08:40 'OPEN DATA Licencias201808.csv'
-rw-rw-r-- 1 dsc dsc 63240187 oct 13 07:45 'OPEN DATA Licencias201812.csv'
-rw-rw-r-- 1 dsc dsc 67879555 oct 13 07:45 'OPEN DATA Licencias201908.csv'
-rw-rw-r-- 1 dsc dsc 66936507 oct 13 08:38 'OPEN DATA Locales201508.csv'
-rw-rw-r-- 1 dsc dsc 60865638 oct 13 07:45 'OPEN DATA Locales201512.csv'
-rw-rw-r-- 1 dsc dsc 60899722 oct 13 08:39 'OPEN DATA Locales201608.csv'
-rw-rw-r-- 1 dsc dsc 60975971 oct 13 07:45 'OPEN DATA Locales201612.csv'
-rw-rw-r-- 1 dsc dsc 61233774 oct 13 08:39 'OPEN DATA Locales201708.csv'
-rw-rw-r-- 1 dsc dsc 61577212 oct 13 07:45 'OPEN DATA Locales201712.csv'
-rw-rw-r-- 1 dsc dsc 61917953 oct 15 07:38 'OPEN DATA Locales201808_clean.csv'
-rw-rw-r-- 1 dsc dsc 61917952 oct 13 08:40 'OPEN DATA Locales201808.csv'
-rw-rw-r-- 1 dsc dsc 61977121 oct 13 07:45 'OPEN DATA Locales201812.csv'
-rw-rw-r-- 1 dsc dsc 62266611 oct 13 07:45 'OPEN DATA Locales201908_clean.csv'
-rw-rw-r-- 1 dsc dsc 62246729 oct 13 07:45 'OPEN DATA Locales201908.csv'
-rw-rw-r-- 1 dsc dsc 94686700 oct 13 08:38 'OPEN DATA Locales-Epigrafes201508.csv'
-rw-rw-r-- 1 dsc dsc 88157068 oct 13 07:45 'OPEN DATA Locales-Epigrafes201512.csv'
-rw-rw-r-- 1 dsc dsc 89136209 oct 13 08:39 'OPEN DATA Locales-Epigrafes201608.csv'
-rw-rw-r-- 1 dsc dsc 89317652 oct 13 07:45 'OPEN DATA Locales-Epigrafes201612.csv'
-rw-rw-r-- 1 dsc dsc 60038619 oct 13 08:40 'OPEN DATA Locales-Epigrafes201708.csv'
-rw-rw-r-- 1 dsc dsc 90503010 oct 13 07:45 'OPEN DATA Locales-Epigrafes201711.csv'
-rw-rw-r-- 1 dsc dsc 91224033 oct 15 23:11 'OPEN DATA Locales-Epigrafes201808_clean.csv'
-rw-rw-r-- 1 dsc dsc 91224032 oct 13 08:40 'OPEN DATA Locales-Epigrafes201808.csv'
-rw-rw-r-- 1 dsc dsc 91301000 oct 13 07:45 'OPEN DATA Locales-Epigrafes201812.csv'
-rw-rw-r-- 1 dsc dsc 91867252 oct 13 07:45 'OPEN DATA Locales-Epigrafes201908.csv'
-rw-rw-r-- 1 dsc dsc  1165365 oct 13 07:45 'OPEN DATA Terrazas201612.csv'
-rw-rw-r-- 1 dsc dsc  2177633 oct 13 07:45 'OPEN DATA Terrazas201712.csv'
-rw-rw-r-- 1 dsc dsc  4224978 oct 13 08:40 'OPEN DATA Terrazas201808.csv'
-rw-rw-r-- 1 dsc dsc  4291678 oct 13 07:45 'OPEN DATA Terrazas201812.csv'
-rw-rw-r-- 1 dsc dsc  4428106 oct 13 07:45 'OPEN DATA Terrazas201908.csv'

Files loading

In [5]:
cd {folder2}

/home/dsc/Repos/TFM-Test-your-business-viability/Data/censolocales

In [6]:
df_epi17 = pd.read_csv('OPEN DATA Locales-Epigrafes201711.csv',sep=';',encoding='latin9')
# Epigrafes_17
df_epi17.info()

/home/dsc/.local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (42,44) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161097 entries, 0 to 161096
Data columns (total 46 columns):
id_local                     161097 non-null int64
id_distrito_local            161097 non-null int64
desc_distrito_local          161097 non-null object
id_barrio_local              161097 non-null int64
desc_barrio_local            161097 non-null object
cod_barrio_local             0 non-null float64
id_seccion_censal_local      0 non-null float64
desc_seccion_censal_local    161097 non-null int64
coordenada_x_local           161097 non-null object
coordenada_y_local           161097 non-null object
id_tipo_acceso_local         0 non-null float64
desc_tipo_acceso_local       161097 non-null object
id_situacion_local           0 non-null float64
desc_situacion_local         161097 non-null object
id_vial_edificio             161097 non-null int64
clase_vial_edificio          161097 non-null object
desc_vial_edificio           161097 non-null object
id_ndp_edificio              161097 non-null int64
id_clase_ndp_edificio        161097 non-null int64
nom_edificio                 161097 non-null object
num_edificio                 161097 non-null int64
cal_edificio                 161097 non-null object
secuencial_local_PC          161097 non-null int64
id_vial_acceso               0 non-null float64
clase_vial_acceso            161097 non-null object
desc_vial_acceso             161097 non-null object
id_ndp_acceso                161097 non-null int64
id_clase_ndp_acceso          161097 non-null int64
nom_acceso                   161097 non-null object
num_acceso                   161097 non-null int64
cal_acceso                   161097 non-null object
coordenada_x_agrupacion      15084 non-null object
coordenada_y_agrup           15084 non-null object
id_agrupacion                15084 non-null float64
nombre_agrupacion            15084 non-null object
id_tipo_agrup                15084 non-null float64
desc_tipo_agrup              15084 non-null object
id_planta_agrupado           158102 non-null object
id_local_agrupado            14993 non-null object
rotulo                       161097 non-null object
id_seccion                   118570 non-null object
desc_seccion                 118570 non-null object
id_division                  118570 non-null object
desc_division                118570 non-null object
id_epigrafe                  118570 non-null object
desc_epigrafe                118569 non-null object
dtypes: float64(7), int64(12), object(27)
memory usage: 56.5+ MB

In [9]:
df_locales17 = pd.read_csv('OPEN DATA Locales201708.csv',sep=';',encoding='latin9')
#locales 2017
df_locales17.info()

ParserError: Error tokenizing data. C error: Expected 40 fields in line 35372, saw 79

Mismo error que con el fichero de 2018. Separadores duplicados. Lo corrijo en línea de comandos y genero el fichero 'OPEN DATA Locales201708_clean.csv'

In [10]:
df_locales17 = pd.read_csv('OPEN DATA Locales201708_clean.csv',sep=';',encoding='latin9')
#locales 2017
df_locales17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145651 entries, 0 to 145650
Data columns (total 40 columns):
id_local                     145651 non-null int64
id_distrito_local            145651 non-null int64
desc_distrito_local          145651 non-null object
id_barrio_local              145651 non-null int64
desc_barrio_local            145651 non-null object
cod_barrio_local             0 non-null float64
id_seccion_censal_local      0 non-null float64
desc_seccion_censal_local    145651 non-null int64
coordenada_x_local           145651 non-null object
coordenada_y_local           145651 non-null object
id_tipo_acceso_local         0 non-null float64
desc_tipo_acceso_local       145651 non-null object
id_situacion_local           145651 non-null int64
desc_situacion_local         145651 non-null object
id_vial_edificio             0 non-null float64
clase_vial_edificio          145651 non-null object
desc_vial_edificio           145651 non-null object
id_ndp_edificio              145651 non-null int64
id_clase_ndp_edificio        145651 non-null int64
nom_edificio                 145651 non-null object
num_edificio                 145651 non-null int64
cal_edificio                 145651 non-null object
secuencial_local_PC          145651 non-null int64
id_vial_acceso               0 non-null float64
clase_vial_acceso            145651 non-null object
desc_vial_acceso             145651 non-null object
id_ndp_acceso                145651 non-null int64
id_clase_ndp_acceso          145651 non-null int64
nom_acceso                   145651 non-null object
num_acceso                   145651 non-null int64
cal_acceso                   145651 non-null object
coordenada_x_agrupacion      13679 non-null object
coordenada_y_agrup           13679 non-null object
id_agrupacion                13679 non-null float64
nombre_agrupacion            13679 non-null object
id_tipo_agrup                13679 non-null float64
desc_tipo_agrup              13679 non-null object
id_planta_agrupado           12621 non-null object
id_local_agrupado            13592 non-null object
rotulo                       145651 non-null object
dtypes: float64(7), int64(12), object(21)
memory usage: 44.4+ MB

Licences csv only available for 2018 and 2019. We are not using it by the moment

En 2017 los locales son aparentemente correctos en una primera revision. Voy a comprobar que son los mismos id

In [12]:
df_epi17.shape, df_locales17.shape

((161097, 46), (145651, 40))

In [13]:
len(df_epi17['id_local'].unique())

145752

In [14]:
len(df_locales17['id_local'].unique())

145651

In [22]:
df_local17_com = df_locales17.merge(df_epi17, how= 'outer', on=['id_local'])
len(df_local17_com.id_local.unique())

145866

In [23]:
id_com17 = df_local17_com['id_local'].unique()
id_epi17 = df_epi17['id_local'].unique()

In [25]:
missing_id_17 = [id_loc for id_loc in id_com17 if id_loc not in id_epi17]

In [27]:
len(missing_id_17)

114

Lo logico es que me quede sólo con las columnas situacion local, rotulo y de epigrafes. Vere si una referencia se mantiene en el tiempo o si se reutiliza

In [42]:
df_epi17[df_epi17['desc_epigrafe'] == 'LOCAL SIN ACTIVIDAD'].head()

,id_local,id_distrito_local,desc_distrito_local,id_barrio_local,desc_barrio_local,cod_barrio_local,id_seccion_censal_local,desc_seccion_censal_local,coordenada_x_local,coordenada_y_local,id_tipo_acceso_local,desc_tipo_acceso_local,id_situacion_local,desc_situacion_local,id_vial_edificio,clase_vial_edificio,desc_vial_edificio,id_ndp_edificio,id_clase_ndp_edificio,nom_edificio,num_edificio,cal_edificio,secuencial_local_PC,id_vial_acceso,clase_vial_acceso,desc_vial_acceso,id_ndp_acceso,id_clase_ndp_acceso,nom_acceso,num_acceso,cal_acceso,coordenada_x_agrupacion,coordenada_y_agrup,id_agrupacion,nombre_agrupacion,id_tipo_agrup,desc_tipo_agrup,id_planta_agrupado,id_local_agrupado,rotulo,id_seccion,desc_seccion,id_division,desc_division,id_epigrafe,desc_epigrafe
22,280029706,6,TETUAN,601,BELLAS VISTAS,NaN,NaN,13,"440191,61","4478627,54",NaN,Puerta Calle,NaN,Abierto,391700,CALLE,JERONIMA LLORENTE ...,11028532,1,NUM,4,A,10,NaN,CALLE,JERONIMA LLORENTE ...,11028532,1,NUM,4,A,NaN,NaN,NaN,NaN,NaN,NaN,PB,NaN,SAFE INTERENVIOS,Z,SIN ACTIVIDAD,0,SIN ACTIVIDAD,0,LOCAL SIN ACTIVIDAD
974,280059349,13,PUENTE DE VALLECAS,1303,PALOMERAS BAJAS,NaN,NaN,77,"443934,56","4471303,48",NaN,Puerta Calle,NaN,Cerrado,570250,CALLE,PAYASO FOFO ...,20081907,1,NUM,24,,60,NaN,CALLE,PAYASO FOFO ...,20081907,1,NUM,24,,NaN,NaN,NaN,NaN,NaN,NaN,PB,NaN,PIZZERIA VALLECAS,Z,SIN ACTIVIDAD,0,SIN ACTIVIDAD,0,LOCAL SIN ACTIVIDAD
1809,280039244,10,LATINA,1005,CAMPAMENTO,NaN,NaN,156,"432722,63","4470175,59",NaN,Agrupado,NaN,Abierto,430225,PASEO,LANCEROS ...,11066920,1,NUM,2,,0,NaN,PASEO,LANCEROS ...,11066920,1,NUM,2,,"432693,63","4470136,59",99000424.0,CENTRO COMERCIAL LA DEHESA DEL PRINCIPE,1.0,Centro Comercial,1,46,ANA MARIA CABANAS GARCIA,Z,SIN ACTIVIDAD,0,SIN ACTIVIDAD,0,LOCAL SIN ACTIVIDAD
1865,280039483,10,LATINA,1002,PUERTA DEL ANGEL,NaN,NaN,16,"438399,6","4473841,54",NaN,Agrupado,NaN,Abierto,250000,CALLE,DOÑA URRACA ...,31015173,1,NUM,15,,0,NaN,CALLE,DOÑA URRACA ...,31015173,1,NUM,15,,"438399,6","4473841,54",99000277.0,MERCADO MUNICIPAL TIRSO DE MOLINA,12.0,Mercado Municipal,1,0,MERCADO,Z,SIN ACTIVIDAD,0,SIN ACTIVIDAD,0,LOCAL SIN ACTIVIDAD
1911,280039705,9,MONCLOA-ARAVACA,901,CASA DE CAMPO,NaN,NaN,10,"438908,6","4474768,54",NaN,Agrupado,NaN,Baja Reunificacion,298900,PASEO,FLORIDA ...,20147325,1,NUM,2,,0,NaN,PASEO,FLORIDA ...,20147325,1,NUM,2,,"438908,6","4474768,54",99000158.0,CENTRO COMERCIAL PRINCIPE PIO,1.0,Centro Comercial,-1,B10,INSIDE,Z,SIN ACTIVIDAD,0,SIN ACTIVIDAD,0,LOCAL SIN ACTIVIDAD

In [43]:
df_locales17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145651 entries, 0 to 145650
Data columns (total 40 columns):
id_local                     145651 non-null int64
id_distrito_local            145651 non-null int64
desc_distrito_local          145651 non-null object
id_barrio_local              145651 non-null int64
desc_barrio_local            145651 non-null object
cod_barrio_local             0 non-null float64
id_seccion_censal_local      0 non-null float64
desc_seccion_censal_local    145651 non-null int64
coordenada_x_local           145651 non-null object
coordenada_y_local           145651 non-null object
id_tipo_acceso_local         0 non-null float64
desc_tipo_acceso_local       145651 non-null object
id_situacion_local           145651 non-null int64
desc_situacion_local         145651 non-null object
id_vial_edificio             0 non-null float64
clase_vial_edificio          145651 non-null object
desc_vial_edificio           145651 non-null object
id_ndp_edificio              145651 non-null int64
id_clase_ndp_edificio        145651 non-null int64
nom_edificio                 145651 non-null object
num_edificio                 145651 non-null int64
cal_edificio                 145651 non-null object
secuencial_local_PC          145651 non-null int64
id_vial_acceso               0 non-null float64
clase_vial_acceso            145651 non-null object
desc_vial_acceso             145651 non-null object
id_ndp_acceso                145651 non-null int64
id_clase_ndp_acceso          145651 non-null int64
nom_acceso                   145651 non-null object
num_acceso                   145651 non-null int64
cal_acceso                   145651 non-null object
coordenada_x_agrupacion      13679 non-null object
coordenada_y_agrup           13679 non-null object
id_agrupacion                13679 non-null float64
nombre_agrupacion            13679 non-null object
id_tipo_agrup                13679 non-null float64
desc_tipo_agrup              13679 non-null object
id_planta_agrupado           12621 non-null object
id_local_agrupado            13592 non-null object
rotulo                       145651 non-null object
dtypes: float64(7), int64(12), object(21)
memory usage: 44.4+ MB

In [44]:
df_epi17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161097 entries, 0 to 161096
Data columns (total 46 columns):
id_local                     161097 non-null int64
id_distrito_local            161097 non-null int64
desc_distrito_local          161097 non-null object
id_barrio_local              161097 non-null int64
desc_barrio_local            161097 non-null object
cod_barrio_local             0 non-null float64
id_seccion_censal_local      0 non-null float64
desc_seccion_censal_local    161097 non-null int64
coordenada_x_local           161097 non-null object
coordenada_y_local           161097 non-null object
id_tipo_acceso_local         0 non-null float64
desc_tipo_acceso_local       161097 non-null object
id_situacion_local           0 non-null float64
desc_situacion_local         161097 non-null object
id_vial_edificio             161097 non-null int64
clase_vial_edificio          161097 non-null object
desc_vial_edificio           161097 non-null object
id_ndp_edificio              161097 non-null int64
id_clase_ndp_edificio        161097 non-null int64
nom_edificio                 161097 non-null object
num_edificio                 161097 non-null int64
cal_edificio                 161097 non-null object
secuencial_local_PC          161097 non-null int64
id_vial_acceso               0 non-null float64
clase_vial_acceso            161097 non-null object
desc_vial_acceso             161097 non-null object
id_ndp_acceso                161097 non-null int64
id_clase_ndp_acceso          161097 non-null int64
nom_acceso                   161097 non-null object
num_acceso                   161097 non-null int64
cal_acceso                   161097 non-null object
coordenada_x_agrupacion      15084 non-null object
coordenada_y_agrup           15084 non-null object
id_agrupacion                15084 non-null float64
nombre_agrupacion            15084 non-null object
id_tipo_agrup                15084 non-null float64
desc_tipo_agrup              15084 non-null object
id_planta_agrupado           158102 non-null object
id_local_agrupado            14993 non-null object
rotulo                       161097 non-null object
id_seccion                   118570 non-null object
desc_seccion                 118570 non-null object
id_division                  118570 non-null object
desc_division                118570 non-null object
id_epigrafe                  118570 non-null object
desc_epigrafe                118569 non-null object
dtypes: float64(7), int64(12), object(27)
memory usage: 56.5+ MB

In [45]:
df_epi17.columns

Index(['id_local', 'id_distrito_local', 'desc_distrito_local',
       'id_barrio_local', 'desc_barrio_local', 'cod_barrio_local',
       'id_seccion_censal_local', 'desc_seccion_censal_local',
       'coordenada_x_local', 'coordenada_y_local', 'id_tipo_acceso_local',
       'desc_tipo_acceso_local', 'id_situacion_local', 'desc_situacion_local',
       'id_vial_edificio', 'clase_vial_edificio', 'desc_vial_edificio',
       'id_ndp_edificio', 'id_clase_ndp_edificio', 'nom_edificio',
       'num_edificio', 'cal_edificio', 'secuencial_local_PC', 'id_vial_acceso',
       'clase_vial_acceso', 'desc_vial_acceso', 'id_ndp_acceso',
       'id_clase_ndp_acceso', 'nom_acceso', 'num_acceso', 'cal_acceso',
       'coordenada_x_agrupacion', 'coordenada_y_agrup', 'id_agrupacion',
       'nombre_agrupacion', 'id_tipo_agrup', 'desc_tipo_agrup',
       'id_planta_agrupado', 'id_local_agrupado', 'rotulo', 'id_seccion',
       'desc_seccion', 'id_division', 'desc_division', 'id_epigrafe',
       'desc_epigrafe'],
      dtype='object')

## Desde aqui

Cambio de estrategia:

- identifico los coincidentes
- identifico los diferentes de locales: me
- identifico los diferentes de efigrafes: me quedo con columnas
- Luego los junto con



- df_locales17: 'id_local', 'rotulo' 'id_seccion'    
- df_epi18: 'id_local','id_seccion', 'desc_seccion', 'id_division', 'desc_division', 'id_epigrafe', 'desc_epigrafe' para:
Objetivo: revisar los nulos y normalizar la columna de estado como hice en 2019.

In [71]:
columns_of_interest_loc =['id_local','rotulo','id_situacion_local',
                         'desc_situacion_local']
columns_of_interest_epi =['id_local','id_seccion','desc_seccion', 'id_division', 
                          'desc_division', 'id_epigrafe', 'desc_epigrafe']

In [72]:
df_local18_d = pd.DataFrame(df_locales18, columns=columns_of_interest_loc)
df_epi18_d = pd.DataFrame(df_epi18, columns=columns_of_interest_epi)

In [73]:
df_local18_clean = df_local18_d.merge(df_epi18_d, how= 'outer', on=['id_local'])
df_local18_d.shape, df_epi18_d.shape, df_local18_clean.shape

((146594, 4), (162343, 7), (162343, 10))

In [20]:
df_local18_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 162343 entries, 0 to 162342
Data columns (total 10 columns):
id_local                162343 non-null int64
rotulo                  162343 non-null object
id_situacion_local      162343 non-null int64
desc_situacion_local    162343 non-null object
id_seccion              120244 non-null object
desc_seccion            120244 non-null object
id_division             120244 non-null object
desc_division           120244 non-null object
id_epigrafe             120244 non-null object
desc_epigrafe           120244 non-null object
dtypes: int64(2), object(8)
memory usage: 13.6+ MB

Reviso los nulos de desc_epigrafe. La mayoría vuelven a ser los que en rótulo están sin actividad.   
Aparece uno con los datos muy raros. Parece que hay un problema con el parseo en origen para este registro. Voy a corregirlo en csv desde línea de comandos (genero el fichero OPEN DATA Locales-Epigrafes201808_clean.csv).

In [21]:
df_local18_clean[df_local18_clean['desc_epigrafe'].isnull()].groupby('rotulo').count()

,id_local,id_situacion_local,desc_situacion_local,id_seccion,desc_seccion,id_division,desc_division,id_epigrafe,desc_epigrafe
rotulo,,,,,,,,,
SIN ACTIVIDAD,42099,42099,42099,0,0,0,0,0,0

In [22]:
df_local18_clean[df_local18_clean['desc_epigrafe'] == 'LOCAL SIN ACTIVIDAD'].head()

,id_local,rotulo,id_situacion_local,desc_situacion_local,id_seccion,desc_seccion,id_division,desc_division,id_epigrafe,desc_epigrafe
4,270549592,R0TULO NO INFORMADO,1,Abierto,Z,SIN ACTIVIDAD,00,SIN ACTIVIDAD,000000,LOCAL SIN ACTIVIDAD
17,270549929,MADRID-RIO CAFE,1,Abierto,Z,SIN ACTIVIDAD,00,SIN ACTIVIDAD,000000,LOCAL SIN ACTIVIDAD
64,270550210,LOCAL SIN ACTIVIDAD,4,Cerrado,Z,SIN ACTIVIDAD,00,SIN ACTIVIDAD,000000,LOCAL SIN ACTIVIDAD
128,270550364,RMH SL,1,Abierto,Z,SIN ACTIVIDAD,00,SIN ACTIVIDAD,000000,LOCAL SIN ACTIVIDAD
161,270550484,SIN ROTULO,4,Cerrado,Z,SIN ACTIVIDAD,00,SIN ACTIVIDAD,000000,LOCAL SIN ACTIVIDAD

In [23]:
#Rellenos los nulos con la info de 'SIN ACTIVIDAD' igual que 2019
df_local18_clean['id_seccion'].fillna('Z',inplace=True)
df_local18_clean['desc_seccion'].fillna('SIN ACTIVIDAD',inplace=True)
df_local18_clean['id_division'].fillna(0,inplace=True)
df_local18_clean['desc_division'].fillna('SIN ACTIVIDAD',inplace=True)
df_local18_clean['id_epigrafe'].fillna(0,inplace=True)
df_local18_clean['desc_epigrafe'].fillna('LOCAL SIN ACTIVIDAD',inplace=True)
df_local18_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 162343 entries, 0 to 162342
Data columns (total 10 columns):
id_local                162343 non-null int64
rotulo                  162343 non-null object
id_situacion_local      162343 non-null int64
desc_situacion_local    162343 non-null object
id_seccion              162343 non-null object
desc_seccion            162343 non-null object
id_division             162343 non-null object
desc_division           162343 non-null object
id_epigrafe             162343 non-null object
desc_epigrafe           162343 non-null object
dtypes: int64(2), object(8)
memory usage: 13.6+ MB

Genero la columna estado 2018 normalizada (como en 2019 y resto de años). Uso la función 'estado' que generé

In [24]:
df_local18_clean.groupby('desc_situacion_local').count()

,id_local,rotulo,id_situacion_local,id_seccion,desc_seccion,id_division,desc_division,id_epigrafe,desc_epigrafe
desc_situacion_local,,,,,,,,,
Abierto,116649,116649,116649,116649,116649,116649,116649,116649,116649
Baja,986,986,986,986,986,986,986,986,986
Baja PC Asociado,11,11,11,11,11,11,11,11,11
Baja Reunificacion,2223,2223,2223,2223,2223,2223,2223,2223,2223
Cerrado,35053,35053,35053,35053,35053,35053,35053,35053,35053
En obras,888,888,888,888,888,888,888,888,888
Uso vivienda,6533,6533,6533,6533,6533,6533,6533,6533,6533

In [25]:
def estado(column1, column2):
    if len(column1) != len(column2):
        return 'Error'
    conditions = [
        (column1 == 'LOCAL SIN ACTIVIDAD') & 
        (column2 == 'Abierto'), 
        (column2 == 'Baja'),
        (column2 == 'Baja PC Asociado'),
        (column2 == 'Baja Reunificacion'),
        (column1 == 'LOCAL SIN ACTIVIDAD') & 
        (column2 == 'En obras'),
        (column2 == 'Cerrado'),
        (column2 == 'Uso vivienda'),
        (column2 == 'Abierto'),
        (column2 == 'En obras')
        ]
    outputs = ['Cerrado','Cerrado','Cerrado','Cerrado','Cerrado',
               'Cerrado','Uso vivienda','Abierto','En obras']
    res = np.select(conditions,outputs,'Other')
    
    return res

In [26]:
df_local18_clean['desc_sit_loc_modif18'] = estado(df_local18_clean['desc_epigrafe'], 
                                                  df_local18_clean['desc_situacion_local'])
type(df_local18_clean)

pandas.core.frame.DataFrame

In [27]:
df_local18_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 162343 entries, 0 to 162342
Data columns (total 11 columns):
id_local                162343 non-null int64
rotulo                  162343 non-null object
id_situacion_local      162343 non-null int64
desc_situacion_local    162343 non-null object
id_seccion              162343 non-null object
desc_seccion            162343 non-null object
id_division             162343 non-null object
desc_division           162343 non-null object
id_epigrafe             162343 non-null object
desc_epigrafe           162343 non-null object
desc_sit_loc_modif18    162343 non-null object
dtypes: int64(2), object(9)
memory usage: 14.9+ MB

In [29]:
df_local18_clean.groupby('desc_sit_loc_modif18').count()

,id_local,rotulo,id_situacion_local,desc_situacion_local,id_seccion,desc_seccion,id_division,desc_division,id_epigrafe,desc_epigrafe
desc_sit_loc_modif18,,,,,,,,,,
Abierto,113843,113843,113843,113843,113843,113843,113843,113843,113843,113843
Cerrado,41869,41869,41869,41869,41869,41869,41869,41869,41869,41869
En obras,98,98,98,98,98,98,98,98,98,98
Uso vivienda,6533,6533,6533,6533,6533,6533,6533,6533,6533,6533

Ya tengo los datos listos para cruzar. Comparando. Parece que hay muy pocos locales cerrados en 2019 sobre los que había en 2018 (56 ¿?). No se si voy a poder hacer un modelo a 1 año!

In [49]:
df_epi17[df_epi17['id_division'] == 41].head()

,id_local,id_distrito_local,desc_distrito_local,id_barrio_local,desc_barrio_local,cod_barrio_local,id_seccion_censal_local,desc_seccion_censal_local,coordenada_x_local,coordenada_y_local,id_tipo_acceso_local,desc_tipo_acceso_local,id_situacion_local,desc_situacion_local,id_vial_edificio,clase_vial_edificio,desc_vial_edificio,id_ndp_edificio,id_clase_ndp_edificio,nom_edificio,num_edificio,cal_edificio,secuencial_local_PC,id_vial_acceso,clase_vial_acceso,desc_vial_acceso,id_ndp_acceso,id_clase_ndp_acceso,nom_acceso,num_acceso,cal_acceso,coordenada_x_agrupacion,coordenada_y_agrup,id_agrupacion,nombre_agrupacion,id_tipo_agrup,desc_tipo_agrup,id_planta_agrupado,id_local_agrupado,rotulo,id_seccion,desc_seccion,id_division,desc_division,id_epigrafe,desc_epigrafe
165,280030322,6,TETUAN,602,CUATRO CAMINOS,NaN,NaN,35,"440378,6","4477940,54",NaN,Puerta Calle,NaN,Abierto,558700,CALLE,PALENCIA ...,11029519,1,NUM,3,,10,NaN,CALLE,PALENCIA ...,11029519,1,NUM,3,,NaN,NaN,NaN,NaN,NaN,NaN,PB,NaN,INMOBILIARIA MAQUEDA,F,CONSTRUCCI0N,41,PROMOCI0N Y CONSTRUCCI0N DE EDIFICIOS,411001,PROMOCION INMOBILIARIA
284,280030817,6,TETUAN,603,CASTILLEJOS,NaN,NaN,56,"440722,61","4478854,54",NaN,Puerta Calle,NaN,Cerrado,436500,CALLE,LERIDA ...,11030360,1,NUM,84,,20,NaN,CALLE,LERIDA ...,11030360,1,NUM,84,,NaN,NaN,NaN,NaN,NaN,NaN,PB,NaN,GESTIONES INMOBILIARIAS,F,CONSTRUCCI0N,41,PROMOCI0N Y CONSTRUCCI0N DE EDIFICIOS,411001,PROMOCION INMOBILIARIA
463,280058714,13,PUENTE DE VALLECAS,1306,NUMANCIA,NaN,NaN,169,"443969,56","4471864,48",NaN,Puerta Calle,NaN,Abierto,268500,CALLE,ENRIQUE VELASCO ...,11098654,1,NUM,26,,20,NaN,CALLE,ENRIQUE VELASCO ...,11098654,1,NUM,26,,NaN,NaN,NaN,NaN,NaN,NaN,PB,NaN,SC REFORMAS,F,CONSTRUCCI0N,41,PROMOCI0N Y CONSTRUCCI0N DE EDIFICIOS,412001,CONSTRUCCION DE EDIFICIOS
553,280031448,6,TETUAN,604,ALMENARA,NaN,NaN,73,"440846,61","4479925,54",NaN,Puerta Calle,NaN,Abierto,595200,CALLE,PINOS ALTA ...,11033082,1,NUM,50,,10,NaN,CALLE,PINOS ALTA ...,11033082,1,NUM,50,,NaN,NaN,NaN,NaN,NaN,NaN,PB,NaN,SR,F,CONSTRUCCI0N,41,PROMOCI0N Y CONSTRUCCI0N DE EDIFICIOS,412001,CONSTRUCCION DE EDIFICIOS
624,280031683,6,TETUAN,605,VALDEACEDERAS,NaN,NaN,101,"440086,62","4479846,55",NaN,Puerta Calle,NaN,Abierto,728400,CALLE,SORGO ...,11035420,1,NUM,33,,10,NaN,CALLE,SORGO ...,11035420,1,NUM,33,,NaN,NaN,NaN,NaN,NaN,NaN,PB,NaN,SR,F,CONSTRUCCI0N,41,PROMOCI0N Y CONSTRUCCI0N DE EDIFICIOS,412001,CONSTRUCCION DE EDIFICIOS

In [51]:
df_epi17[df_epi17.id_local == 280030691]

,id_local,id_distrito_local,desc_distrito_local,id_barrio_local,desc_barrio_local,cod_barrio_local,id_seccion_censal_local,desc_seccion_censal_local,coordenada_x_local,coordenada_y_local,id_tipo_acceso_local,desc_tipo_acceso_local,id_situacion_local,desc_situacion_local,id_vial_edificio,clase_vial_edificio,desc_vial_edificio,id_ndp_edificio,id_clase_ndp_edificio,nom_edificio,num_edificio,cal_edificio,secuencial_local_PC,id_vial_acceso,clase_vial_acceso,desc_vial_acceso,id_ndp_acceso,id_clase_ndp_acceso,nom_acceso,num_acceso,cal_acceso,coordenada_x_agrupacion,coordenada_y_agrup,id_agrupacion,nombre_agrupacion,id_tipo_agrup,desc_tipo_agrup,id_planta_agrupado,id_local_agrupado,rotulo,id_seccion,desc_seccion,id_division,desc_division,id_epigrafe,desc_epigrafe
69099,280030691,6,TETUAN,603,CASTILLEJOS,NaN,NaN,57,"440627,61","4478869,54",NaN,Puerta Calle,NaN,Abierto,369100,CALLE,HUESCA ...,11030404,1,NUM,1,,10,NaN,CALLE,HUESCA ...,11030404,1,NUM,1,,NaN,NaN,NaN,NaN,NaN,NaN,PB,NaN,MORENO,G,COMERCIO AL POR MAYOR Y AL POR MENOR; REPARACI...,47,"COMERCIO AL POR MENOR, EXCEPTO DE VEHICULOS DE...",476401,COMERCIO AL POR MENOR DE BICICLETAS
77200,280030691,6,TETUAN,603,CASTILLEJOS,NaN,NaN,57,"440627,61","4478869,54",NaN,Puerta Calle,NaN,Abierto,369100,CALLE,HUESCA ...,11030404,1,NUM,1,,10,NaN,CALLE,HUESCA ...,11030404,1,NUM,1,,NaN,NaN,NaN,NaN,NaN,NaN,PB,NaN,MORENO,S,OTROS SERVICIOS,95,"REPARACI0N DE ORDENADORES, EFECTOS PERSONALES ...",952001,REPARACION DE BICICLETAS

In [53]:
df_locales17[df_locales17.rotulo == 'MCCLOWN']

,id_local,id_distrito_local,desc_distrito_local,id_barrio_local,desc_barrio_local,cod_barrio_local,id_seccion_censal_local,desc_seccion_censal_local,coordenada_x_local,coordenada_y_local,id_tipo_acceso_local,desc_tipo_acceso_local,id_situacion_local,desc_situacion_local,id_vial_edificio,clase_vial_edificio,desc_vial_edificio,id_ndp_edificio,id_clase_ndp_edificio,nom_edificio,num_edificio,cal_edificio,secuencial_local_PC,id_vial_acceso,clase_vial_acceso,desc_vial_acceso,id_ndp_acceso,id_clase_ndp_acceso,nom_acceso,num_acceso,cal_acceso,coordenada_x_agrupacion,coordenada_y_agrup,id_agrupacion,nombre_agrupacion,id_tipo_agrup,desc_tipo_agrup,id_planta_agrupado,id_local_agrupado,rotulo
50594,280030578,6,TETUAN,602,CUATRO CAMINOS,NaN,NaN,45,"441052,2","4478507,18",NaN,Puerta Calle,1,Abierto,NaN,AVENIDA,GENERAL PERON ...,11029985,1,NUM,15,,20,NaN,AVENIDA,GENERAL PERON ...,11029985,1,NUM,15,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MCCLOWN

In [55]:
df_epi17[df_epi17.rotulo == 'PUB DELOREAN']

,id_local,id_distrito_local,desc_distrito_local,id_barrio_local,desc_barrio_local,cod_barrio_local,id_seccion_censal_local,desc_seccion_censal_local,coordenada_x_local,coordenada_y_local,id_tipo_acceso_local,desc_tipo_acceso_local,id_situacion_local,desc_situacion_local,id_vial_edificio,clase_vial_edificio,desc_vial_edificio,id_ndp_edificio,id_clase_ndp_edificio,nom_edificio,num_edificio,cal_edificio,secuencial_local_PC,id_vial_acceso,clase_vial_acceso,desc_vial_acceso,id_ndp_acceso,id_clase_ndp_acceso,nom_acceso,num_acceso,cal_acceso,coordenada_x_agrupacion,coordenada_y_agrup,id_agrupacion,nombre_agrupacion,id_tipo_agrup,desc_tipo_agrup,id_planta_agrupado,id_local_agrupado,rotulo,id_seccion,desc_seccion,id_division,desc_division,id_epigrafe,desc_epigrafe
219,280030583,6,TETUAN,602,CUATRO CAMINOS,NaN,NaN,45,"441031,6","4478279,53",NaN,Puerta Calle,NaN,Abierto,550500,CALLE,ORENSE ...,11030004,1,NUM,33,,70,NaN,CALLE,JULIAN BESTEIRO ...,11029988,1,NUM,2,,NaN,NaN,NaN,NaN,NaN,NaN,PB,NaN,PUB DELOREAN,I,HOSTELERIA,56,SERVICIOS DE COMIDAS Y BEBIDAS,563005,BAR SIN COCINA