Preparo los datos de 2018. Lo separo en otro Notebook por simplificar. Cuando esté limpio los uno.
Para que sea un año entero. Cojo los datos de agosto 2018

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
pd.set_option('display.max_column',None)

In [3]:
import os
os.getcwd()

'/home/dsc/Repos/TFM-Test-your-business-viability/TBV_v1'

In [4]:
folder2 = '~/Repos/TFM-Test-your-business-viability/Data/censolocales/'

!ls -al {folder2}

total 1729400
drwxrwxr-x 2 dsc dsc     4096 oct 14 20:58  .
drwxrwxr-x 4 dsc dsc     4096 oct 14 07:19  ..
-rw-rw-r-- 1 dsc dsc 44416536 oct 13 08:38  2014_10_cla_actividades.csv
-rw-rw-r-- 1 dsc dsc 27343285 oct 13 07:45  2014_10_cla_locales.csv
-rw-rw-r-- 1 dsc dsc      987 oct 13 07:45  campos_fichero_epigrafes
-rw-rw-r-- 1 dsc dsc      881 oct 13 07:45  campos_fichero_locales
-rw-rw-r-- 1 dsc dsc 44849866 oct 13 07:45  cla_actividades201409.csv
-rw-rw-r-- 1 dsc dsc 27459122 oct 13 07:45  cla_locales201409.csv
-rw-rw-r-- 1 dsc dsc  1245108 oct 13 07:45  EpigrafesActividadEconomica.pdf
-rw-rw-r-- 1 dsc dsc   140800 oct 13 07:45  EpigrafesActividadEconomica.xls
-rw-rw-r-- 1 dsc dsc    85504 oct 14 08:03  Epigrafes_id.xls
-rw-rw-r-- 1 dsc dsc    34507 oct 13 07:45 'Estructura_DS_ FicheroCLA_LICENCIAS.pdf'
-rw-rw-r-- 1 dsc dsc    36129 oct 13 07:45  Estructura_DS_FicheroCLA.pdf
-rw-rw-r-- 1 dsc dsc       64 oct 14 08:00  .~lock.EpigrafesActividadEconomica.xls#
-rw-rw-r-- 1 dsc dsc  5345755 oct 14 20:58  OD_epig1908.csv
-rw-rw-r-- 1 dsc dsc  4282879 oct 14 20:58  OD_locales1908.csv
-rw-rw-r-- 1 dsc dsc 61010410 oct 13 08:40 'OPEN DATA Licencias201808.csv'
-rw-rw-r-- 1 dsc dsc 63240187 oct 13 07:45 'OPEN DATA Licencias201812.csv'
-rw-rw-r-- 1 dsc dsc 67879555 oct 13 07:45 'OPEN DATA Licencias201908.csv'
-rw-rw-r-- 1 dsc dsc 66936507 oct 13 08:38 'OPEN DATA Locales201508.csv'
-rw-rw-r-- 1 dsc dsc 60865638 oct 13 07:45 'OPEN DATA Locales201512.csv'
-rw-rw-r-- 1 dsc dsc 60899722 oct 13 08:39 'OPEN DATA Locales201608.csv'
-rw-rw-r-- 1 dsc dsc 60975971 oct 13 07:45 'OPEN DATA Locales201612.csv'
-rw-rw-r-- 1 dsc dsc 61233774 oct 13 08:39 'OPEN DATA Locales201708.csv'
-rw-rw-r-- 1 dsc dsc 61577212 oct 13 07:45 'OPEN DATA Locales201712.csv'
-rw-rw-r-- 1 dsc dsc 61917952 oct 13 08:40 'OPEN DATA Locales201808.csv'
-rw-rw-r-- 1 dsc dsc 61977121 oct 13 07:45 'OPEN DATA Locales201812.csv'
-rw-rw-r-- 1 dsc dsc 62266611 oct 13 07:45 'OPEN DATA Locales201908_clean.csv'
-rw-rw-r-- 1 dsc dsc 62246729 oct 13 07:45 'OPEN DATA Locales201908.csv'
-rw-rw-r-- 1 dsc dsc 94686700 oct 13 08:38 'OPEN DATA Locales-Epigrafes201508.csv'
-rw-rw-r-- 1 dsc dsc 88157068 oct 13 07:45 'OPEN DATA Locales-Epigrafes201512.csv'
-rw-rw-r-- 1 dsc dsc 89136209 oct 13 08:39 'OPEN DATA Locales-Epigrafes201608.csv'
-rw-rw-r-- 1 dsc dsc 89317652 oct 13 07:45 'OPEN DATA Locales-Epigrafes201612.csv'
-rw-rw-r-- 1 dsc dsc 60038619 oct 13 08:40 'OPEN DATA Locales-Epigrafes201708.csv'
-rw-rw-r-- 1 dsc dsc 90503010 oct 13 07:45 'OPEN DATA Locales-Epigrafes201711.csv'
-rw-rw-r-- 1 dsc dsc 91224032 oct 13 08:40 'OPEN DATA Locales-Epigrafes201808.csv'
-rw-rw-r-- 1 dsc dsc 91301000 oct 13 07:45 'OPEN DATA Locales-Epigrafes201812.csv'
-rw-rw-r-- 1 dsc dsc 91867252 oct 13 07:45 'OPEN DATA Locales-Epigrafes201908.csv'
-rw-rw-r-- 1 dsc dsc  1165365 oct 13 07:45 'OPEN DATA Terrazas201612.csv'
-rw-rw-r-- 1 dsc dsc  2177633 oct 13 07:45 'OPEN DATA Terrazas201712.csv'
-rw-rw-r-- 1 dsc dsc  4224978 oct 13 08:40 'OPEN DATA Terrazas201808.csv'
-rw-rw-r-- 1 dsc dsc  4291678 oct 13 07:45 'OPEN DATA Terrazas201812.csv'
-rw-rw-r-- 1 dsc dsc  4428106 oct 13 07:45 'OPEN DATA Terrazas201908.csv'

Files loading

In [5]:
cd {folder2}

/home/dsc/Repos/TFM-Test-your-business-viability/Data/censolocales

In [6]:
df_epi18 = pd.read_csv('OPEN DATA Locales-Epigrafes201808.csv',sep=';',encoding='latin9')
# Epigrafes_18 
df_epi18.info()

/home/dsc/.local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (42,44) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162343 entries, 0 to 162342
Data columns (total 46 columns):
id_local                     162343 non-null int64
id_distrito_local            162343 non-null int64
desc_distrito_local          162343 non-null object
id_barrio_local              162343 non-null int64
desc_barrio_local            162343 non-null object
cod_barrio_local             0 non-null float64
id_seccion_censal_local      0 non-null float64
desc_seccion_censal_local    162343 non-null int64
coordenada_x_local           162343 non-null object
coordenada_y_local           162343 non-null object
id_tipo_acceso_local         0 non-null float64
desc_tipo_acceso_local       162343 non-null object
id_situacion_local           0 non-null float64
desc_situacion_local         162343 non-null object
id_vial_edificio             162343 non-null int64
clase_vial_edificio          162343 non-null object
desc_vial_edificio           162343 non-null object
id_ndp_edificio              162343 non-null int64
id_clase_ndp_edificio        162343 non-null int64
nom_edificio                 162343 non-null object
num_edificio                 162343 non-null int64
cal_edificio                 162343 non-null object
secuencial_local_PC          162343 non-null int64
id_vial_acceso               0 non-null float64
clase_vial_acceso            162343 non-null object
desc_vial_acceso             162343 non-null object
id_ndp_acceso                162343 non-null int64
id_clase_ndp_acceso          162343 non-null int64
nom_acceso                   162343 non-null object
num_acceso                   162343 non-null int64
cal_acceso                   162343 non-null object
coordenada_x_agrupacion      15234 non-null object
coordenada_y_agrup           15234 non-null object
id_agrupacion                15234 non-null float64
nombre_agrupacion            15234 non-null object
id_tipo_agrup                15234 non-null float64
desc_tipo_agrup              15234 non-null object
id_planta_agrupado           159411 non-null object
id_local_agrupado            15143 non-null object
rotulo                       162343 non-null object
id_seccion                   120244 non-null object
desc_seccion                 120244 non-null object
id_division                  120244 non-null object
desc_division                120244 non-null object
id_epigrafe                  120244 non-null object
desc_epigrafe                120243 non-null object
dtypes: float64(7), int64(12), object(27)
memory usage: 57.0+ MB

In [10]:
df_locales18 = pd.read_csv('OPEN DATA Locales201808.csv',sep=';',encoding='latin9')
#locales 2018
df_locales18.info()

ParserError: Error tokenizing data. C error: Expected 40 fields in line 33070, saw 79

Mismo error que con el fichero de 2019. Separadores duplicados. Lo corrijo en línea de comandos y genero el fichero 'OPEN DATA Locales201808_clean.csv'

In [9]:
df_locales18 = pd.read_csv('OPEN DATA Locales201808_clean.csv',sep=';',encoding='latin9')
#locales 2018
df_locales18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146594 entries, 0 to 146593
Data columns (total 40 columns):
id_local                     146594 non-null int64
id_distrito_local            146594 non-null int64
desc_distrito_local          146594 non-null object
id_barrio_local              146594 non-null int64
desc_barrio_local            146594 non-null object
cod_barrio_local             0 non-null float64
id_seccion_censal_local      0 non-null float64
desc_seccion_censal_local    146594 non-null int64
coordenada_x_local           146594 non-null object
coordenada_y_local           146594 non-null object
id_tipo_acceso_local         0 non-null float64
desc_tipo_acceso_local       146594 non-null object
id_situacion_local           146594 non-null int64
desc_situacion_local         146594 non-null object
id_vial_edificio             0 non-null float64
clase_vial_edificio          146594 non-null object
desc_vial_edificio           146594 non-null object
id_ndp_edificio              146594 non-null int64
id_clase_ndp_edificio        146594 non-null int64
nom_edificio                 146594 non-null object
num_edificio                 146594 non-null int64
cal_edificio                 146594 non-null object
secuencial_local_PC          146594 non-null int64
id_vial_acceso               0 non-null float64
clase_vial_acceso            146594 non-null object
desc_vial_acceso             146594 non-null object
id_ndp_acceso                146594 non-null int64
id_clase_ndp_acceso          146594 non-null int64
nom_acceso                   146594 non-null object
num_acceso                   146594 non-null int64
cal_acceso                   146594 non-null object
coordenada_x_agrupacion      13837 non-null object
coordenada_y_agrup           13837 non-null object
id_agrupacion                13837 non-null float64
nombre_agrupacion            13837 non-null object
id_tipo_agrup                13837 non-null float64
desc_tipo_agrup              13837 non-null object
id_planta_agrupado           143996 non-null object
id_local_agrupado            13752 non-null object
rotulo                       146594 non-null object
dtypes: float64(7), int64(12), object(21)
memory usage: 44.7+ MB

In [11]:
df_licences18 = pd.read_csv('OPEN DATA Licencias201808.csv',sep=';')
# licencias_18
df_licences18.info()

/home/dsc/.local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (41,43) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109110 entries, 0 to 109109
Data columns (total 46 columns):
id_local                        109110 non-null int64
id_distrito_local               109110 non-null int64
desc_distrito_local             109110 non-null object
id_barrio_local                 109110 non-null int64
desc_barrio_local               109110 non-null object
cod_barrio_local                109110 non-null int64
id_seccion_censal_local         109110 non-null int64
desc_seccion_censal_local       109110 non-null int64
coordenada_x_local              109110 non-null object
coordenada_y_local              109110 non-null object
id_tipo_acceso_local            109110 non-null int64
desc_tipo_acceso_local          109110 non-null object
id_situacion_local              109110 non-null int64
desc_situacion_local            109110 non-null object
id_ndp_edificio                 109110 non-null int64
id_clase_ndp_edificio           109110 non-null int64
id_vial_edificio                109110 non-null int64
clase_vial_edificio             109110 non-null object
desc_vial_edificio              109110 non-null object
nom_edificio                    109110 non-null object
num_edificio                    109110 non-null int64
cal_edificio                    109110 non-null object
secuencial_local_PC             109110 non-null int64
id_ndp_acceso                   109110 non-null int64
id_clase_ndp_acceso             109110 non-null int64
id_vial_acceso                  109110 non-null int64
clase_vial_acceso               109110 non-null object
desc_vial_acceso                109110 non-null object
nom_acceso                      109110 non-null object
num_acceso                      109110 non-null int64
cal_acceso                      109110 non-null object
coordenada_x_agrupacion         6806 non-null object
coordenada_y_agrupacion         6806 non-null object
id_agrupacion                   109110 non-null int64
nombre_agrupacion               109110 non-null object
id_tipo_agrup                   109110 non-null int64
desc_tipo_agrup                 109110 non-null object
id_planta_agrupado              108846 non-null object
id_local_agrupado               6796 non-null object
rotulo                          109110 non-null object
ref_licencia                    109110 non-null object
id_tipo_licencia                109110 non-null object
desc_tipo_licencia              109110 non-null object
id_tipo_situacion_licencia      109110 non-null object
desc_tipo_situacion_licencia    109110 non-null object
Fecha_Dec_Lic                   109107 non-null object
dtypes: int64(19), object(27)
memory usage: 38.3+ MB

En 2018 los locales son aparentemente correctos en una primera revision. Voy a comprobar que son los mismos id

In [17]:
df_epi18.shape, df_locales18.shape

((162343, 46), (146594, 40))

In [13]:
len(df_epi18['id_local'].unique())

146594

In [12]:
len(df_locales18['id_local'].unique())

146594

In [19]:
df_local18_com = df_locales18.merge(df_epi18, how= 'outer', on=['id_local'])

In [20]:
len(df_local18_com['id_local'].unique()) #todos los ids coinciden

146594

Lo logico es que me quede sólo con las columnas situacion local y de epigrafes. Vere si una referencia se mantiene en el tiempo o si se reutiliza

In [23]:
df_epi18[df_epi18['desc_epigrafe'] == 'LOCAL SIN ACTIVIDAD'].head()

,id_local,id_distrito_local,desc_distrito_local,id_barrio_local,desc_barrio_local,cod_barrio_local,id_seccion_censal_local,desc_seccion_censal_local,coordenada_x_local,coordenada_y_local,id_tipo_acceso_local,desc_tipo_acceso_local,id_situacion_local,desc_situacion_local,id_vial_edificio,clase_vial_edificio,desc_vial_edificio,id_ndp_edificio,id_clase_ndp_edificio,nom_edificio,num_edificio,cal_edificio,secuencial_local_PC,id_vial_acceso,clase_vial_acceso,desc_vial_acceso,id_ndp_acceso,id_clase_ndp_acceso,nom_acceso,num_acceso,cal_acceso,coordenada_x_agrupacion,coordenada_y_agrup,id_agrupacion,nombre_agrupacion,id_tipo_agrup,desc_tipo_agrup,id_planta_agrupado,id_local_agrupado,rotulo,id_seccion,desc_seccion,id_division,desc_division,id_epigrafe,desc_epigrafe
113,10001884,1,CENTRO,103,CORTES,NaN,NaN,69,"440407,59","4474033,53",NaN,Puerta Calle,NaN,Abierto,276100,CALLE,ESPOZ Y MINA ...,11003816,1,NUM,32,,20,NaN,CALLE,ESPOZ Y MINA ...,11003816,1,NUM,32,,NaN,NaN,NaN,NaN,NaN,NaN,PB,NaN,MAMA TERESA,Z,SIN ACTIVIDAD,00,SIN ACTIVIDAD,000000,LOCAL SIN ACTIVIDAD
142,10001291,1,CENTRO,104,JUSTICIA,NaN,NaN,79,"440989,59","4474974,52",NaN,Puerta Calle,NaN,Abierto,94000,CALLE,BARQUILLO ...,11004725,1,NUM,33,,10,NaN,CALLE,BARQUILLO ...,11004725,1,NUM,33,,NaN,NaN,NaN,NaN,NaN,NaN,PB,NaN,MADRID HIFI,Z,SIN ACTIVIDAD,00,SIN ACTIVIDAD,000000,LOCAL SIN ACTIVIDAD
249,10002553,1,CENTRO,101,PALACIO,NaN,NaN,11,"439713,59","4473738,53",NaN,Puerta Calle,NaN,Abierto,32600,CALLE,ALMENDRO ...,20147740,1,NUM,25,,10,NaN,CALLE,ALMENDRO ...,20147740,1,NUM,25,,NaN,NaN,NaN,NaN,NaN,NaN,PB,NaN,SIN ACTIVIDAD,Z,SIN ACTIVIDAD,00,SIN ACTIVIDAD,000000,LOCAL SIN ACTIVIDAD
266,10002670,1,CENTRO,104,JUSTICIA,NaN,NaN,73,"441046,59","4474879,52",NaN,Puerta Calle,NaN,Abierto,33000,CALLE,ALMIRANTE ...,11004182,1,NUM,6,,10,NaN,CALLE,ALMIRANTE ...,11004182,1,NUM,6,,NaN,NaN,NaN,NaN,NaN,NaN,PB,NaN,ALMIRANTE SEIS,Z,SIN ACTIVIDAD,00,SIN ACTIVIDAD,000000,LOCAL SIN ACTIVIDAD
315,10003036,1,CENTRO,105,UNIVERSIDAD,NaN,NaN,112,"439744,6","4474977,54",NaN,Puerta Calle,NaN,Abierto,342950,CALLE,GRAN VIA ...,11006813,1,NUM,78,,30,NaN,CALLE,GRAN VIA ...,11006813,1,NUM,78,,NaN,NaN,NaN,NaN,NaN,NaN,PB,NaN,JUGUETES A 10 EUROS,Z,SIN ACTIVIDAD,00,SIN ACTIVIDAD,000000,LOCAL SIN ACTIVIDAD

In [21]:
df_local18_d = df_locales18.drop(['cod_barrio_local', 'id_seccion_censal_local', 'id_tipo_acceso_local', 'id_vial_acceso', 
                               'id_vial_edificio', 'coordenada_x_agrupacion', 'coordenada_y_agrup',
                                  'id_agrupacion','nombre_agrupacion', 
                               'id_tipo_agrup', 'desc_tipo_agrup', 'id_planta_agrupado', 
                               'id_local_agrupado', 'cal_acceso'], axis  = 1)

df_epi18_d = df_epi18.drop(['id_distrito_local', 'desc_distrito_local', 'id_barrio_local', 
                            'desc_barrio_local', 'cod_barrio_local','id_seccion_censal_local',
                            'desc_seccion_censal_local', 
                            'coordenada_x_local', 'coordenada_y_local', 
                            'id_tipo_acceso_local', 'desc_tipo_acceso_local', 
                            'id_situacion_local', 'desc_situacion_local', 
                            'clase_vial_edificio', 'desc_vial_edificio', 'id_ndp_edificio',
                            'id_clase_ndp_edificio', 'nom_edificio', 'num_edificio', 
                            'cal_edificio', 'secuencial_local_PC', 
                            'id_vial_acceso', 'clase_vial_acceso', 'desc_vial_acceso', 
                            'id_ndp_acceso', 'id_clase_ndp_acceso', 'nom_acceso', 
                            'num_acceso', 'coordenada_x_agrupacion', 'coordenada_y_agrup',
                            'id_agrupacion', 'id_planta_agrupado', 'id_local_agrupado',
                            'cal_acceso','rotulo'], axis  = 1)